<h1>Posts</h1>

<% @posts.each do |post| %>

<h2><%= link_to post.title, post %></h2>

<button type="button" class="button btn btn-default btn-sm" style="background: #EEE;">
  <span class="glyphicon glyphicon-thumbs-up"> </span> <%= post.get_upvotes.size %>
</button>
<p>Published at <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></p>
<p><%= post.content %></p>
<% end %>

<%= link_to 'New Post', new_post_path %>
