<div id="index-top" class="container-fluid">
  <div class="col-md-4">
    <div class="well">
    <h1>speakit <b>forum</b> <%= image_tag "logo.png", :id => 'quote-1'%></h1>
    </div>
  </div>
  <div class="col-md-4"><%= form_tag search_posts_path, method: :get, class: 'navbar-form navbar-center', role: 'search' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-primary btn-lg' %>
  </p>
  <% end %>
  </div>
  <div class="col-md-4">

    <div class="dropdown">
      <h4 id="search-by">Search by</h4><h4>Create a new post</h4><br />
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% Category.order('created_at ASC').each do |category| %>
        <li>
        <%= link_to category.name, category %>
        </li>
        <% end %>
        <li role="presentation"><%= link_to 'Most Popular', popular_path %></li>
        <li role="presentation"><%= link_to 'Most Recent', root_path %></li>
      </ul>

      <button class="btn btn-default new-post">
        <%= link_to 'New Post', new_post_path, id: "new-post" %>
      </button>
    </div>
  </div>
</div>


<div class="container" style="margin-left: 30px;">
  <div class="col-md-8">
    <% @posts.each do |post| %>

    <h2><%= link_to post.title, post, style: "text-decoration: none;" %></h2>



      <span class="glyphicon glyphicon-thumbs-up"> </span>&nbsp; <%= post.get_upvotes.size %>&nbsp;
      <span class="glyphicon glyphicon-thumbs-down"> </span>&nbsp; <%= post.get_downvotes.size %>&nbsp;
      <span class="glyphicon glyphicon-comment"> </span> &nbsp;<%= post.comments.count %>

  

    <p id="published-by">Published at <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></p>

    <p><%= post.content.first(144) %></p>
    <% end %>
    <%= will_paginate %>

  </div>
</div>
