<div class="wrapper">

  <p>
  <strong>Category:</strong>
  <% if @post.category %>
    <%= link_to @post.category.name, @post.category %>
  <% else %>
    none
  <% end %>
</p>

<h1><%= @post.title %></h1>
<p><%= @post.content %> </p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to like_post_path(@post), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-thumbs-up"> </span> <%= @post.get_upvotes.size %>
  <% end %>

<%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-thumbs-down"></span> <%= @post.get_downvotes.size %>
  <% end %>

<div id="comments">
  <% if @post.comments.count == 1 %>
  <h2><%= @post.comments.count %> comment</h2>
  <% else %>
  <h2><%= @post.comments.count %> comments</h2>
  <% end %>
  <% @post.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.comment %></p>
    <p><%= comment.user.email %></p>
    <div class="buttons">
      <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to like_post_comment_path(comment.post, comment), method: :put, class: 'btn btn-default btn-sm' do %>
      <span class="glyphicon glyphicon-thumbs-up"></span> <%= comment.get_upvotes.size %>
      <% end %>
    </div>
  </div>
  <% end %>
  <h3>Reply to thread</h3>
  <%= render 'comments/form' %>

</div>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
<%= link_to 'Home', root_path %>
</div>
